*{
  margin: 0;
  padding: 0;
}
.nav-link-hover {
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-link-hover:hover {
  color: #d82d2d; /* Bootstrap's info color */
  text-decoration: underline;
}